@import url('https://fonts.googleapis.com/css2?family=Shojumaru&family=UnifrakturMaguntia&display=swap');
/* font-family: 'Shojumaru', cursive;
font-family: 'UnifrakturMaguntia', cursive; */
* {
  background-color: black;
  color: white;
}
.navbar {
  text-align: center;
  font-family: 'Shojumaru', cursive;;
  display: flex;
  flex-direction: column;
  border: 3px solid white
}

.navbar-selection {
  display:flex;
  flex-direction: column;
}
li {
  list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none;;
}

@media screen and (min-width: 768px) {
  .navbar-selection {
    text-align: center;
    font-family: 'Shojumaru', cursive;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
  }
}