@import url('https://fonts.googleapis.com/css2?family=Shojumaru&family=UnifrakturMaguntia&display=swap');
/* font-family: 'Shojumaru', cursive;
font-family: 'UnifrakturMaguntia', cursive; */

.civ-bonus {
    font-family: 'Shojumaru', cursive;
    text-align: center;
}